# Ignore the local virtual environment
.venv/

# Ignore IDE directories
.idea/
.vscode/

# Ignore target directories
target/
out/
build/

# Ignore Git files
.git/
.gitignore

# Ignore Maven wrapper jar
.mvn/wrapper/maven-wrapper.jar

# Ignore other unnecessary files
*.log
*.tmp